*{
   box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 8px;
}

.btn.active{
   background-color: #666;
   color: white;
}

/* @media screen and (width >= 450px) {
 .row {
    grid-template-columns: repeat(2, 1fr);
 }
}

@media screen and (width >= 800px) {
 .row {
   grid-template-columns: repeat(4, 1fr);
 }
} */

